body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(243, 245, 121);
}

header {
  background-color: black;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: yellow;
}

main {
  padding: 20px;
}

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
}

footer p {
  color: yellow;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

form {
  border: 2px solid gray;
  background-color: rgb(253, 253, 253);
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  font-weight: bold;
  box-shadow: 0 0 5px #aaa;
}

form ul {
  list-style-type: none;
  padding: 0;
}

form li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

form label {
  min-width: 150px;
  display: inline-block;
  margin-top: 3px;
  padding: 3px;
}

form input,
form select {
  height: 30px;
  width: 220px;
  padding: 5px 8px;
  box-sizing: border-box;
}

.calculator-container {
  display: flex;
  align-items: flex-start;
}

.result-container {
  margin-left: 20px;
  padding: 20px;
  border: 2px solid gray;
  background-color: rgb(253, 253, 253);
  flex: 1;
  font-weight: bold;
  box-shadow: 0 0 5px #aaa;
}


.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info img {
  width: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-text p {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px #aaa;
  font-weight: bold;
}

button:hover {
  background-color: darkblue;
}

.container-table {
  border-collapse: collapse;
}

.container-table table {
  width: 100%;
  border-collapse: collapse;
}

.container-table th,
.container-table td {
  border: 1px solid ;
  padding: 8px;
}

.container-table th {
  background-color: lightgray;
}

.container-table img {
  display: block;
  margin: 0 auto;
}
.small-label {
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
}

